Package: com.mc.rclone
Name: rclone
Version: 1.42
Section: Utility
Architecture: iphoneos-arm
Author: ncw
Maintainer: u/LULShotz
Description: Compiled for ARM64.
	rsync for cloud storage.
	.
	** Notes: Compiled from golang on device.
