Package: com.mc.opus
Name: libopus
Version: 1.2.1
Section: Development
Architecture: iphoneos-arm
Author: mozilla
Maintainer: outdated
Description: Compiled for ARM64.
	Opus audio decoder and encoder.
