Package: com.mc.openjpeg
Name: openjpeg
Version: 2.3.0-2
Section: Development
Architecture: iphoneos-arm
Author: ISPGroup
Depends: com.mc.zlib, com.mc.libjpeg
Maintainer: u/LULShotz
Description: Compiled for ARM64.
	OpenJPEG is an open-source JPEG 2000 codec written in C language.
