Package: com.mc.bc
Name: bc
Version: 1.07.1-3
Section: Utility
Architecture: iphoneos-arm
Author: GNU
Maintainer: u/LULShotz
Description: Compiled for ARM64.
	A arbitrary precision numeric processing language.
