Package: com.mc.sqlite
Name: SQlite3
Version: 3.24.0-3
Section: Utility
Architecture: iphoneos-arm
Author: Dwayne Richard
Maintainer: outdated
Description: Compiled for ARM64.
	The SQLite package is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine.
