Package: com.mc.libvpx
Name: libvpx
Version: 1.7.0
Section: Development
Architecture: iphoneos-arm
Author: Google
Maintainer: u/LULShotz
Description: Compiled for ARM64.
	VP8/VP9 video encoder and decoder.
