Package: com.mc.berkeleydb
Name: Berkeley DB (No Commands)
Version: 6.2.32-2
Section: Data Storage
Architecture: iphoneos-arm
Author: Oracle
Maintainer: outdated
Description: Compiled for ARM64.
	The version of this on coolstar's repo didn't have '--enable-dbm' at compile time.
	This is just a dependency, not a replacement. 
	The bin folder has been moved to if you want to move it back.
	** Update: Removed Docs, I shouldn't force a waste of space.
