Package: com.mc.protobuf
Name: Protobuf
Version: 3.6.1 
Section: Development
Architecture: iphoneos-arm
Author: Google
Maintainer: outdated
Description: Compiled for ARM64.
	Protocol Buffers (a.k.a., protobuf) are Google's language-neutral, platform-neutral, extensible mechanism for serializing structured data
